.footer {
    width: 100%;
    padding: 14px 18px;
    border-top: 1px solid rgb(1, 32, 1);
    background: rgba(0, 65, 0);
    color: rgb(255, 255, 255);
    font-family: "Lexend";
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 12px;
    align-items: center;
    font-size: 12.5px;
}

.left {
    justify-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    justify-self: center;
    white-space: nowrap;
    opacity: 0.85;
}

.right {
    justify-self: end;
    display: flex;
    gap: 18px;
    align-items: center;
}

.link {
    color: rgb(0, 158, 13);
    /* roxinho como na imagem */
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
}

.link:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 680px) {
    .inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .left,
    .center,
    .right {
        justify-self: center;
    }
}